* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#4B2E31;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {

    --cell-size: 18vmin;
    --cell-gap: 2vmin;

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell{
    border-radius: 1vmin;
    background-color: #c4b7b770;
}

.tile {
    --x: 2;
    --y: 2;
    position: absolute;
    top: calc(var(--y)*(var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x)*(var(--cell-size) + var(--cell-gap)));

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18vmin;
    height: 18vmin;
    border-radius: 1vmin;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;

    color: hsl(20, 25%, var(--text-ligh));
    background-color: hsl(330, 60%, var(--bg-ligh));

    transition: 200ms;
    animation: show 200ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.buttom {
    display: block;
    justify-content: center;

    text-align: center;

    width: 18vmin;
    height: 10vmin;
    border-radius: 1vmin;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vmin;
    font-weight: bold;

    color: white;
    background-color: hsl(330, 60%, 46%);
    cursor: pointer;
    padding: 6px 0px 10px;
}

.topnav {
    padding: 0px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}