* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#3b303a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {

    --cell-size: 18vmin;
    --cell-gap: 2vmin;

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
    left: 50%;
    margin-left: -39vmin;

}

.cell{
    border-radius: 1vmin;
    background-color: #4e494970;
}

.tile {
    --x: 2;
    --y: 2;
    position: absolute;
    top: calc(var(--y)*(var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x)*(var(--cell-size) + var(--cell-gap)));

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18vmin;
    height: 18vmin;
    border-radius: 1vmin;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;

    color: hsl(180, 0%, var(--text-ligh));
    background-color: hsl(345, 60%, var(--bg-ligh));

    transition: 200ms;
    animation: show 200ms;
}



@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.buttom {
    display: block;
    justify-content: center;

    text-align: center;

    position: relative;

    width: 18vmin;
    height: 10vmin;
    border-radius: 1vmin;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vmin;
    font-weight: bold;


    color: hsl(180, 0%, 20%);;
    background-color: hsl(345, 60%, 73%);
    cursor: pointer;
    padding: 2.5vmin 0px 2.5px;

    transition: 0.4s;
}

.buttom:hover {
    color: hsl(180, 0%, 80%);;
    background-color: hsl(345, 60%, 46%);
}


.topnav {
    padding: 40px 6vmin 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    background-image: url(./pic/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90vmin;
    left: 50%;
    position: absolute;
    margin-left: -45vmin;

}